tr>td{
background-color: whitesmoke;
height: 50px;
}
.addfood-btn{
    background:#5fc062;
    color:white;
    font-size: 16px;
    padding: 15px 35px;
    border: 0;
    border-radius: 4px;
    margin: 15px;
}
.addfood-btn:hover{
    background:#44c148;
}
.text-flex{
    margin: 50px 0px ;
    display: flex;
    gap: 300px;
    justify-content: center;
}

