.all_divs{
    margin-top: 30px;
 width: 100% ;
 overflow: scroll;
}
.all_divs::-webkit-scrollbar {
    display: none;
  }

.addd_1{
    display: none;
    /* border: 1px solid red; */
    width: 78%;
    height: 255px;
    margin: auto;
}
.addd_1>img{
    width: 100%;
    height: 100%;
}
.addd_2{
    margin: auto;
    display: flex;
   /* border: 1px dotted ; */
   width: 78%;
}
.left_bar{
    width: 78%;
    /* border: 2px teal; */
}
.right_bar{
    /* display: none; */
    width: 30%;
    /* border: 2px green; */
}
.left_1st{
    height: 260px;
    width: 100%;
    /* border: 1px solid red; */
    background-color: rgb(246,246,246);
}
.new_feed{
    height: 167px;
    /* border: 1px solid red; */
    margin-top: 20px;
    background-color:  rgb(246, 246, 246);
}
.add_friends{
    height: 200px;
    /* border: 1px solid red; */
    margin-top: 20px;
}
.your_daily_summ{
    box-sizing: border-box;
    flex-flow: row wrap;
    width: 100%;
    height: 36px;
    max-width: 100%;
    min-width: 200px;
    display: flex;
    color: rgb(255, 255, 255);
    background-color: rgb(10, 82, 130);
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.dialy_left{
    margin-left: 10px;
}
.daily_right{
    margin-right: 10px;
}
.beloow_daily_div{
    /* border: 1px solid green; */
    height: 184px;
}
.left_1_inner{
 /* border: 1px solid; */
 display: flex;
 overflow: scroll;
 padding: 10px;
}
.left_1_inner::-webkit-scrollbar {
    display: none;
  }
.avatar{
 /* border: 1px solid; */
 height: 120px;
 width: 120px;
 margin-right: 10px;
 background-color: rgb(230,230,230);
}
.hide_all{
    color: transparent;
    margin-left: 10px;
}
.info_avatar{
   width: 528px;
   height: 120px;
   /* border: 1px solid green; */
}
.upper_info_avatar{
    display: flex;
    height: 60%;
    border-bottom: 1px solid gray;

}
.calories_view{
    text-align: left;
    width: 35%;
    height: 100%;
}
.buttons{
    /* display: flex; */
    width: 65%;
    height: 100%;
    /* border: 1px solid red; */
}
.btn_1{
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
   font-size: small;
   margin: 20px;
   background-color: rgb(252, 252, 252);
   border: 1px solid gray;
   border-radius: 3px;
}
.btn_1:hover{
    background-color: gray;
}
.in_avatar_text{
    font-size: small;
    color: gray;
}
.upload_photo{
    display: block;
    font-size: small;
    color: blue;
    margin-top: 30px;
}
.upload_photo:hover{
    color: red;
}
.lower_info_avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: left;
    gap: 18%;
    width: 100%;
    height: 40%;
    /* border: 1px solid yellow; */
}
.lower_info_avatar>div>span{
   color: gray;
   font-size: medium;
}
.lower_info_avatar>div>.numbers_11{
    font-size: large;
    font-weight: 700;
}
.gained{
    display: flex;
    width: 100%;
    height: 60px;
    /* border: 1px solid; */
    
}
.gained_11{
    display: flex;
    justify-content: space-between;
    width: 20%;
    /* border: 1px solid red; */
    height: 100%;
}
.gained_1>p{
    margin: 0px;
}
.gained_22{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* border: 1px solid green; */
}
.gained_22>div:nth-child(2){
    width: 80%;
    height: 8px;
    border: 1px solid gray;
    background-color: rgb(246, 246, 246);
}
.gained_22>div:nth-child(3){
    width: 1%;
    height: 20px;
    border-left: 4px dotted gray;
}
.gained_22>span{
    color: rgb(133, 196, 0);
}
.opacity{
    position: relative;
    margin-top: 30px;
    left: 15px;
}

.new_feed_upper{
    padding-left: 20px;
    height: 36px;
    max-width: 100%;
    min-width: 200px;
    display: flex;
    background-color: rgb(10, 82, 130);
    color: rgb(255, 255, 255);
}
.new_input{
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.new_input>textarea{
  margin-right: 10px;
}
.shear{
    font-size: medium;
    padding: 8px 20px;
    background-color: rgb(0, 102, 238);
    border-radius: 4px;
    border: none;
    color: white;
}
.add_friends{
    align-items: center;
    background-color: rgb(246, 246, 246);
}
.go_tomail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 30%;
    height: 20%;
    border: 1px solid gray;
    
}
.go_tomail>span{
    font-weight: bold;
}
.go_tomail:hover{
    background-color: gray;
}
.recent_forum{
    font-size: 13px;
    text-align: left;
    padding-left: 10px;
    line-height: 20px;
    margin: 10px;
    border: 1px transparent;
    border-radius: 10px;
    background-color: rgb(246, 246, 246);
}
.recent_forum>li{
    color: rgb(24,119,242);
}
.recent_forum>li:hover{
    color: blue;
}
.hellohelthy{
    margin-top: 30px;
    text-align: left;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
    padding-left: 10px;
    margin: 10px;
    border: 1px transparent;
    border-radius: 10px;
    background-color: rgb(246, 246, 246);
}
.hellohelthy>.topics{
    font-size: 13px;
    color:rgb(10, 82, 130) ;
    font-weight: bold;
}
.hellohelthy>span{
    font-size: 13px;
    color: rgb(24,119,242);
}
.hellohelthy>span:hover{
    color: blue;
}




@media screen and  (max-width: 800px) {
    .addd_2{
        width: 100%;
    }
    .left_bar{
        width: 100%;
        /* border: 2px teal; */
    }
    .buttons{
        overflow: hidden;
        justify-content: space-between;
        display: flex;
        align-items: center;
        /* width: 65%; */
        /* height: 100%; */
        /* border: 1px solid red; */
    }
    .buttonss{
        display: flex;
    }
    .right_bar{
        display: none;
       
    }
}

@media screen and  (max-width: 667px) {
    .addd_2{
        width: 100%;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 65%;
        height: 100%;
        /* border: 1px solid red; */
    }
    .btn_1{
        padding: 8px;
        padding-left: 20px;
        padding-right: 20px;
         font-size: 10px;
         /* margin: 20px; */
         background-color: rgb(252, 252, 252);
         border: 1px solid gray;
         border-radius: 3px;
      }
}
@media screen and  (max-width: 1040px) {
    .left_bar{
        width: 100%;
        /* border: 2px teal; */
    }
    .right_bar{
        display: none;
       
    }
}