body{
    margin: 0;
   
    
}
.Premium-container{
    background-image: url("https://www.myfitnesspal.com/react-static/78a85ff61ae51bacb70e2839935c0b84.svg");
    font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
    line-height: 1.5;
}
.pre-h1,.pre-h2,h3{
    color: #212121;
    font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
}
button,img:hover{
    cursor: pointer;
}
.jss78 {
    padding-top: 0;
    padding-bottom: 0;
    background-size: 330px 548px;
    background-image: url("https://www.myfitnesspal.com/react-static/d25745179dd7595c07dc1f9b09b89efa.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-position-x: right;
    background-position-y: top;
    
}
.jss79 {
    width: 100%;
    margin: 0px auto 48px;
    display: flex;
    max-width: 890px;
    justify-content: space-between;
    
}
.app-img{
    width:411px;
    padding-top: 32px;
}
.jss90 {
    color: #222628;
    display: inline-block;
    padding: 4px 12px;
    font-size: 0.875rem;
    background: #FFC600;
    font-weight: 600;
    line-height: 1.4;
    border-radius: 6.6px;
    margin-bottom: 0;
    letter-spacing: 0.25px;
    text-transform: uppercase;
}
.MuiTypography-root+h1{
    color: #222628;
    font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
}
.left-div{
    width: 369px;
    height: 495px;
    padding-top: 64px;
    text-align: left;
}
.free-trial-btn{
    color: #FFF;
    background-color: #0066EE;
    padding: 8px 24px;
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    font-size: 16px;
}
.free-trial-btn:hover{
    
    box-sizing: border-box;
    background-color: blue;
    cursor: pointer;
}
.second{
    display: flex;
    justify-content: center;
    align-items: center;
}
.second>div{
    width:300px;
}
.second>div>img{
    width:160px;
    height: 160px;
}

.jss140 {
    background: url("https://www.myfitnesspal.com/react-static/5505f9a4cc71985801691b723cf64d9a.png") top right no-repeat, url("https://www.myfitnesspal.com/react-static/b96cec4f94f4413f2891c9bde43f3bcc.png") bottom left no-repeat;
    padding-bottom: 200px;
    background-size: 350px 819px, 169px 217px;
}
.jss163 {
    border: 4px solid;
    margin: 0px 12px;
    padding: 0px 0px 30px 0px;
    min-width: 400px;
    box-shadow: 0 0 14px 0 rgb(0 0 0 / 13%);
    border-color: #FFC600;
    border-radius: 8px;
    background-color: #FFFFFF;
}
.subscription{
    display: flex;
    justify-content: center;
    text-align: center;
}
.jss166 {
    border: 4px solid;
    margin: 0px 12px;
    display: flex;
    padding: 26px 0px 30px 0px;
    min-width: 400px;
    box-shadow: 0 0 14px 0 rgb(0 0 0 / 13%);
    border-color: transparent;
    border-radius: 8px;
    flex-direction: column;
    background-color: #FFFFFF;
}
.cost{
    font-weight: 900;
    line-height: 1.08;
    margin-bottom: 4px;
}
.monthly-btn{
    color: #0066EE;
    border: 1px solid rgba(0, 102, 238, 0.5);
    border-color: #0066EE;
    border-width: 2px;
    background-color: white;
    width: 85%;
    font-size: 15px;
    padding: 10px 24px;
    height: 60px;
    font-weight: bold;
}
.yearly-btn{
    background-color: #006eff;
    color: white;
}
.monthly-btn:hover{
    background-color: #f6faff;
    cursor: pointer;
    
}
.yearly-btn:hover{
    background-color: #0066EE;
    cursor: pointer;
}
.sub-para{
    width: 65%;
    text-align: center;
    align-items: center;
    color: #6D717A;
    justify-content: center;
    display: block;
    padding-left: 32%;
}
.special-font{
    color: #6D717A;  
}
.yellow-heading{
    background-color: #FFC600;
    font-weight: bolder;
    padding-left: 0px;
    margin-top: 0;
    width: 400px;
}
.inner-bottom{
    text-align: center;
    justify-content: center;
}
.faq-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    gap: 10px;
}
.faq-container>div{
    width: 700px;
   background-color: #fafafa;
    border: 1px solid transparent;
    display: flex;
    padding: 0px 24px;
    min-height: 80px;
    transition: min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.caraousel{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.caraousel-item{
    width: 300px;
    margin-left: 10px;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 15%);
    border-radius: 5px;
}
.caraousel-item>img{
    width: 100%;
}
.caraousel-btn{
    width: 100px;
    height: 100px;
    background: transparent;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 20px;
    margin-top: 100px;
    font-size: larger;
}
.caraousel-btn:hover{
    background-color: #f6faff;
    cursor: pointer;
    border-radius: 50%;
}

@media only screen and (max-width: 391px) {
    .jss78 {
        background-image: url("https://www.myfitnesspal.com/react-static/6f2202ef334911922a195333f239bb98.png");
    } 
    .jss140 {
        background: url("") top right no-repeat, url("") bottom left no-repeat;
        padding-bottom: 0;
    background-size: 0;
    }
    .Premium-container{
        background-image: url("");
        width: 100%;
       
    }
    .subscription{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 98%;
    }
    .jss163 {
    min-width: 100%;
    margin: 0;
    padding: 0px 0px 20px 0px;
  
    
    }
    .inner-bottom{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .yellow-heading{
       
        width: 100%;
    }
    .jss166 {
        min-width: 100%;
        margin: 0;
        padding: 0px 0px 20px 0px;
    }
    .faq-container{
    width:98% ;
    }
    .faq-container>div{
        width: 98%;
        min-height: auto;
    }
    .frequently-asked-questions{
        width: 95%;
        margin: 5px;
    }
    .caraousel-item{
        width: 100%;
        margin-left: 0px;
        overflow: hidden;
    }
    .caraousel{
        flex-wrap: wrap;
    }
    .second{
        flex-wrap: wrap;
    }
    .jss79 {
        width: 100%;
       
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        
    }
    .left-div{
        height: 320px;
        margin-left: 5px;
    }
    .app-img{
        padding: 0;
        width: 100%;
    }
}
@media only screen and (min-device-width: 392px) and (max-width: 820px) {
    .jss78 {
        background-image: url("https://www.myfitnesspal.com/react-static/6f2202ef334911922a195333f239bb98.png");
        background-size: 320px 548px;
    } 
}