body {
  background-color: #f0f2f4;
}

.input1 {
  /* border: 1px solid black; */
  margin: 0px;
  margin-top: 10px;
}
#email{
  border: 2px solid #0066ee;
  border-radius: 4px;
 

}
#email:focus{
  border: 1px solid #0066ee;
}

.signIn {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: #ffffff;
  /* border: 1px solid black; */
  border-radius: 5px;
  margin: auto;
  margin-top: 250px;
  height: 450px;
  width: 45%;
}

.h5 {
  padding-top: 30px;
}

.myForm {
  margin: auto;
  margin-bottom: 0px;
  padding-top: 40px;
  /* border: 1px solid red; */
  width: 60%;
}

.label {
  /* border: 1px solid red; */
  font-size: 10px;
}

.label3 {
  font-size: 12px;
}

.btn {
  margin-top: 10px;
  font-size: 10px;
  border: transparent;
  width: 93%;
  height: 45px;
  border-radius: 2px;
  background-color: #2490fe;
  color: #ffffff;
}

.btn2 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 10px;
  border: transparent;
  width: 56%;
  height: 45px;
  border-radius: 2px;
  background-color: #0066ee;
  color: #ffffff;
}

.p {
  margin-top: 10px;
  font-size: 10px;
  width: 50%;
  margin-bottom: 10px;
}

.span {
  color: #2490fe;
}

.h5 {
  margin: auto;
  width: 70%;
}

#name,
#age,
#height,
#weight,
#email,
#password {
  width: 90%;
  height: 45px;
}



@media only screen and (min-width: 376px) and (max-width: 769px) {
  .signIn {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: #ffffff;
    /* border: 1px solid black; */
    border-radius: 5px;
    margin: auto;
    margin-top: 200px;
    height: 450px;
    width: 95%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 376px) {
  .signIn {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: #ffffff;
    /* border: 1px solid black; */
    border-radius: 5px;
    margin: auto;
    margin-top: 100px;
    height: 400px;
    width: 85%;
  }
}
