.footer {
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    font-size: 15px;
    background-color:#ececec;
    padding: 36px 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.footer p {
    margin-top: 0;
    margin-bottom:1.5em
}

.footer p:last-child {
    margin-bottom:0
}

.footer .nav {
    margin: 0 -10px 1.5em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap:wrap;
     list-style-type: none;
}

.footer .nav > li {
  padding: 0 6px;
  margin-bottom: 5px;
}

.footer .nav > li > a {
  line-height: 1;
  color: #0066EE;
  text-decoration: none;
}

.footer .nav > li:last-child {
      border-right:none;
}
.text-center {
  text-align: center;
}
a{
 font-size: 13px;
}